@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

@import '../css/colors';
@import '../css/mixin';

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

img{
    width:100%;
    height: 100%;
    display: block;
}

html{
    font-size: 100%;
}



.myself{
    margin-top:1rem;
    font-weight:700;
    font-size:.7rem;
    padding:0 .5rem;
    text-align:center;
    margin-bottom:1rem;
    animation:smooth4 5s ease;

    a{
        font-size:.9rem;
        color:rgb(71, 32, 177);
        text-decoration: none;
        border-bottom:1px dashed rgb(71, 32, 177);
    }
}

footer{
    height: 100px;
}


main{
    @include grid;
    min-height: 100vh;
    
    .parent-container{
        @include grid;
        
        .left-details{
            grid-row: 2/3;
            text-align: center;
            position: relative;
            &::before{
                content: "";
                position: absolute;
                top:-1rem;
                background-image: url('../images/pattern-quotes.svg');
                background-repeat: no-repeat;
                background-size: 3.5rem;
                height: 100%;
                width:10rem;
                margin: 0 auto;
            }
            
            p{
                font-size: 1.2rem;
                font-weight: 500;
                line-height: 1.4;
                margin-bottom: 1rem;
                max-width: 770px;
                margin: 0 auto;
                padding: 0 1rem;
                animation:smooth2 .6s ease-in;
                
            }
            .user-details{
                display: flex;
                flex-direction: column;
                animation:smooth .7s ease;

                
                
                .username{
                    font-weight: 700;
                }
                .user-field{
                    font-weight:300;
                    color:$grayish-Blue;
                    margin-top:.3rem;
                }
            }
        }
        .right-img{
            width:100%;
            height: 370px;
            background-image: url('../images/pattern-bg.svg');
            background-repeat: no-repeat;
            background-position: center top;
            background-size: contain;
            position: relative;
            margin-bottom: 3rem;
            padding:0 1rem;
            animation:smooth3 .5s ease; //img
            
            
            .user{
                margin-top:2rem;
                height: auto;
                margin-inline: auto;
                max-width:260px;
                box-shadow: 0px 15px 15px 0px $dark-Blue;
            }
            
            .buttons{
                position:absolute;
                left:50%;
                top:83%;
                transform: translate(-50%,-100%);
                border-top-left-radius: 200px;
                border-bottom-left-radius: 200px;
                border-bottom-right-radius: 200px;
                border-top-right-radius: 200px;
                box-shadow: 7px 14px 15px 0px $dark-Blue;
                background-color: #fff;
                display:flex;
            }
            
            
            
            button{
                background-color: transparent;
                cursor:pointer;
                padding:.6rem .8rem;
                border-color:transparent;
                &:hover{
                    border:2px dashed rgb(71, 32, 177);
                    transition: border .4s ease-in;
                }
                &:active{
                    transform: scale(1.1);
                }
            }
            .next{
                border-top-right-radius: 50%;
                border-bottom-right-radius: 50%;
                
                
            }
            .prev{
                border-top-left-radius: 50%;
                border-bottom-left-radius: 50%;
            }
        }
    }
}

@keyframes smooth{
    from{
        opacity:0;
        transform: translateY(-50px);
    }
    to{
        opacity:1;
        transform: translateY(0px);
        
    }
}
@keyframes smooth2{
    from{
        opacity:0;
        transform: translateY(-30px);
    }
    to{
        opacity:1;
        transform: translateY(0px);
        
    }
}



@keyframes smooth3{
    from{
        opacity:0;
        transform: translateX(100px);
    }
    to{
        opacity:1;
        transform: translateY(0px);
        
    }
}
@keyframes smooth4{ 
    from{
        opacity:0;
    }
    to{
        opacity:1;
        
    }
}



@media (min-width:768px) {
    .wrapper{
        position: relative;
        max-width: 1200px;
        margin:0 auto;
    }
    main{
        .parent-container{
            grid-template-columns: repeat(2,1fr);
            .left-details{
                position: absolute;
                left: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                z-index: 99;
                margin-left: 1rem;
                align-self: center;
                width: 60%;
                grid-column: 1/2;
                grid-row: 1/2;
                padding:0;
                
                p{
                    text-align: left;
                    line-height: 1.2;
                    margin-bottom: 2.6rem;
                    font-size: 1.6rem; 
                    max-width: 680px;
                    font-weight: 500;
                    display: block;
                    z-index: 99;
                    padding:0;
                    margin-left:0;
                }
                &::before{
                    left:8rem;
                    padding:0;
                    top:-1.5rem;
                    background-size: 4rem; 
                    
                }
                
                .user-details{
                    flex-direction: row;
                    width:100%;
                    .username{
                        font-size: 1.3rem;
                    }
                    .user-field{
                        margin:0;
                        margin-left: 1rem;
                        font-size:1.3rem;
                    }
                }
            }
            .right-img{
                height: 300px; 
                background-position:center;
                background-size: 30rem; 
                margin-bottom: 0rem;
                padding:0;
                position: absolute;
                right:0;
                width:60%;
                display: flex;
                align-items: center;
                height: 100%;
                
                .user{
                    margin-top:0rem;
                    height:auto;
                    margin-inline: auto;
                    max-width:330px; 
                    box-shadow: 0px 15px 15px 0px $dark-Blue;
                }
                
                
                .buttons{
                    position:absolute;
                    left:30%;
                    top:75%;
                    transform: translate(-30%,-70%);
                    background-color:#fff;
                    border-top-left-radius: 200px;
                    border-bottom-left-radius: 200px;
                    border-bottom-right-radius: 200px;
                    border-top-right-radius: 200px;
                    box-shadow: 7px 14px 15px 0px $dark-Blue;
                }
                
                button{
                    padding:1.1rem 1.2rem;
                }
            }
        }
    }
    
}





@media (min-width:1024px) {
    
    
    main{
        .parent-container{
            .left-details{
                p{
                    font-size: 2.2rem;
                }
                &::before{
                    left:8rem;
                    top:-3.5rem;
                    background-size: 7rem;
                    
                }
                
            }
            .right-img{
                height: 600px;
                background-size: 45rem;
                height: 100%;
                
                .user{
                    max-width:530px;
                }

                .buttons{
                    position:absolute;
                    left:30%;
                    top:90%;
                    transform: translate(-50%,-100%);
               
                }
            }
        }
    }
    
}